<link rel="stylesheet" type="text/css" href="styles/alt.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>
You've been signed up!<br>
<button id="proceed">Proceed</button>
<script>
$('#proceed').click(() => $(location).attr('href', 'index.php'));
</script>
