<script>
  function initMap(){};
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>
<link rel="stylesheet" type="text/css" href="styles/main.css">
<div class="search-results">
  <div class="main-text">Search:</div>
    <input class="main-text" type="text" id="search" placeholder="Everyone"></input><br>
  <div class="main-text">Results:</div>
  <div id="friend-container">
    {{#friends}}
    <div class="friend" data-address="{{city}}">
      Name: {{first-name}}{{last-name}}<br>
      city: {{city}}<br><br>
    </div>
    {{/friends}}
  </div>
</div>
<div id="map-div">
<div id="directions">
</div>
<script>
function initMap(){
console.log('ran init map');
var routeObj = {
  origin: "detroit, michigan",
  destination: "chicago, illinois",
  travelMode: google.maps.TravelMode.DRIVING
  };
var directionsDisplay = new google.maps.DirectionsRenderer;
var directionsService = new google.maps.DirectionsService;
var map = new google.maps.Map($("#map")[0],{});
console.log("map === ",map);
directionsDisplay.setMap(map);
directionsDisplay.setPanel($("#directions")[0]);
  $("#directions").click(function(){
console.log("ran click");
    directionsService.route({
    origin: "detroit, michigan",
    destination: "chicago, illinois",
    travelMode: google.maps.TravelMode.DRIVING
    }, function(response, status){
      directionsDisplay.setDirections(response);
    });
  });
}   
</script>
<iframe id="map"
  src="https://www.google.com/maps/embed/v1/place?key={{key}}&q={{origin}}">
</iframe>
</div>
<script>
function friendClick(){
  $(".friend").click(function() {
    var address = $(this).context.dataset.address;
    $("iframe").remove();
    $('<iframe />');
    $('<iframe />', {
       width: '600',
       height: '450',
       id: 'map',
       src: 'https://www.google.com/maps/embed/v1/directions?origin={{origin}}&destination=' + address + '&key={{key}}'
    }).appendTo('#map-div');
  }
)};
friendClick();
$("#search").keyup(function(){
  var body = { 
    "query" : {
      "multi_match" : {
        "query" : $("#search").val() + "*",
        "fields" : [ "first-name", "last-name", "city", "address", "state" ],
        "type" : "phrase_prefix"
        }
    }
  };
  $.ajax({
    method: "POST",
    url: "http://159.203.140.74:9200/friends/friends/_search",
    contentType: "application/json",
    data: JSON.stringify(body)
  }).done(function(res){
    $(".friend").remove();
    var hits = res['hits']['hits'];
    for(i=0; i < hits.length; i++){
      $("<div>")
      .addClass("friend")
      .attr("data-address", hits[i]._source.city)
      .html("Name: " + hits[i]._source["first-name"] +
      " " + hits[i]._source["last-name"] + "<br>City: " + hits[i]._source.city)
      .appendTo("#friend-container");
    };
    friendClick();
  })
})
</script>
