<form action="create-user.php" method="post">
  Email:<br>
  <input type="email" name="email" required>
  <br>
  Password:<br>
  <input type="password" name="password" required>
  <br>
  First Name:<br>
  <input type="text" name="first-name" required>
  <br>
  Last Name:<br>
  <input type="text" name="last-name" required>
  <br>
  City:<br>
  <input type="text" name="city" required>
  <br>
  State:<br>
  <input type="text" name="state" required>
  <br>
  Address:<br>
  <input type="text" name="address" required>
  <br>
  Zip:<br>
  <input type="text" name="zip" required>
  <br><br>
  <input type="submit" value="Submit">
</form>
